@use "../../../appTheme.scss" as *;
mat-expansion-panel{
  background-color: $primary;
  box-shadow: none !important;
}

mat-expansion-panel-header:hover{
  background-color: $accent !important;
}

#container{
  margin-top: 20%;
}

a{
  text-decoration: none;
}

.link{
  color: $white !important;
}

.subLink{
  color: $white !important;
}

.link:hover{
  color: $gray;
}

.subLink:hover{
  color: $gray;
}
