<mat-card >
  <mat-card-header>
    <mat-card-title>
      <h1>Create New Sales Item</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="flexContainer">
      <mat-form-field appearance="outline">
        <mat-label class="label">Name</mat-label>
        <input matInput id="name" type="text" name="name"  required>
        <mat-error class="label">A name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="label">Description</mat-label>
        <input matInput id="desc" type="textarea" name="desc" >
        <mat-error class="label">Line 1 is required</mat-error>
      </mat-form-field>
    </form>
    <h4>Items</h4>
    <div *ngFor="let item of item.inventoryItems">
      <div class="itemContainer">
        <input class="quantity" type="number" class="form-control" value="1" required/>
        <mat-expansion-panel hideToggle disabled cdkDrag cdkDropList class="itemRow" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span id="id">{{ item.assetId }}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span id="name">{{ item.name }}</span>
              <span id="price">{{ item.dailyRentalRate | currencyFormatter }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>
