.flexContainer{
  display: flex;
  flex-direction: column;
}

mat-card-header{
  margin:auto;
}

mat-panel-title{
  color: black !important;
  font-size: large;
}

mat-panel-description{
  color: black !important;
  font-size: large;
  flex:3;
  justify-content: space-between;
}

.name{
  flex:1;
}

.itemContainer{
  display: flex;
  flex-direction: row;
}

mat-expansion-panel{
  flex:10;
}

input{
  flex:1
}

.closeButton{
  margin-left: 2%;
  flex:.4;
  color:red;
  transform: scale(2);
  align-self: center;
  justify-self: end;
  cursor: pointer;
}
