.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}
.flexItem{
  flex:1;
}
.padding
{
  padding-right: 1%;
}
.title
{
  font-size: larger;
}
