form{
  display: flex;
  flex-direction: column;
}
#combo{
  display: flex;
  justify-content: space-between;
}

#combo mat-form-field:nth-child(odd){
  margin-right: 4%;
}

#combo mat-form-field:nth-child(even){
  margin-left: 4%;
}

.input{
  font-weight: bolder;
}

.label
{
  font-weight: normal;
}
