#container{
  padding: 2%;
}

.section{
  display: flex;
}

.title{
  flex: 1;
  font-size: x-large;
  padding-right: 2%;

}

button{
  font-size: small;
}

.content{
  flex:8;
}

mat-form-field{
  margin-right: 2%;
}

app-address-form{
  flex: 1;
}

mat-divider{
  margin-bottom: 2%;
}

#addressForms{
  flex:8;
  display: flex;
}

#addressButtons{
  display: flex;
  flex-direction: column;
}

#addressButtons button{
  margin-bottom: 2%;
}

.show{
  display: flex;
}

.hide{
  display: none;
}

app-address-form{
  display: flex;
}

.input{
  font-weight: bolder;
}

.label
{
  font-weight: normal;
}
