<div id="container">
  <div class="section">
    <div class="title">Name
    </div>
    <div class="content">
      <form [formGroup]="nameForm">
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Prefix</mat-label>
          <input matInput type="text" name="prefix" formControlName="prefix">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">First Name</mat-label>
          <input matInput type="text" name="firstName" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Middle Name</mat-label>
          <input matInput type="text" name="middleName" formControlName="middleName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Last Name</mat-label>
          <input matInput type="text" name="lastName" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Suffix</mat-label>
          <input matInput type="text" name="suffix" formControlName="suffix">
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section">
    <div class="title">Email</div>
    <div class="content">
      <form [formGroup]="emailForm">
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Primary</mat-label>
          <input matInput type="email" formControlName="primary" value="">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Backup</mat-label>
          <input matInput type="email" formControlName="secondary" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section">
    <div class="title">
      <div>Address</div>
      <div id="addressButtons">
        <button *ngIf="!this.mailingAddress"
          mat-raised-button color="primary"
          (click)="addNewAddress('mailing')"
          [disabled]="this.mailingAddress">
            Add Mailing Address
        </button>
        <button *ngIf="!this.billingAddress"
          mat-raised-button color="primary"
          (click)="addNewAddress('billing')"
          [disabled]="this.billingAddress">
            Add Billing Address
        </button>
        <button *ngIf="!this.shippingAddress"
          mat-raised-button color="primary"
          (click)="addNewAddress('shipping')"
          [disabled]="this.shippingAddress">
            Add Shipping Address
          </button>
        </div>
      </div>
    <div id="addressForms">
      <app-address-form *ngIf="this.mailingAddress" [title]="'Mailing Address'" [address]="mailingAddress" (addressUpdate)="receiveNewMailingAddress($event)"></app-address-form>
      <app-address-form *ngIf="this.billingAddress" [title]="'Billing Address'" [address]="billingAddress" (addressUpdate)="receiveNewBillingAddress($event)"></app-address-form>
      <app-address-form *ngIf="this.shippingAddress" [title]="'Shiping Address'" [address]="shippingAddress" (addressUpdate)="receiveNewShippingAddress($event)"></app-address-form>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section">
    <div class="title">Phone Numbers</div>
    <div class="content">
      <form [formGroup]="phoneNumberForm">
        <mat-form-field class="input" *ngIf="this.user.phoneNumber1"  appearance="outline">
          <mat-label class="label">PhoneNumber 1</mat-label>
          <input matInput type="text" formControlName="phone1" value="">
        </mat-form-field>
        <mat-form-field class="input" *ngIf="this.user.phoneNumber2" appearance="outline">
          <mat-label>PhoneNumber 2</mat-label>
          <input matInput type="text" formControlName="phone2" value="">
        </mat-form-field>
        <mat-form-field class="input" *ngIf="this.user.phoneNumber3" appearance="outline">
          <mat-label>PhoneNumber 3</mat-label>
          <input matInput type="text" formControlName="phone3" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" (click)="updateUser()">Update</button>
  </div>
</div>
