@use '/src/appTheme.scss' as *;
@use '/src/color-palette.scss' as colors;
@use "sass:map";

.main{
  height: 84%;
}

.leftCard{
  margin: 2%;
}

.rightCard{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}

.image{
  height: 350px;
}

.addressContainer{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}

.address{
  padding-top: 2%;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}

.saveButton{
  flex:1;
  margin: auto;
}

.numberList{
  height: 100%;
}

.phoneNumberList{
  margin-top: 2%;
}

.phoneNumberListItem{
  flex:1;
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.phoneNumberContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phoneNumber{
  align-self: center;
}

.newPhoneNumberInputs{
  display: flex;
  flex:1;
  flex-direction: row;
}

.edit{
  color: $warn;
  margin-right: 5%;
  cursor: pointer;
}

.delete{
  font-size: larger;
  color: $warn;
  cursor: pointer;
}
