<div *ngIf="(contactInput != undefined)" class="page flexColumn h-100">
  <div class="flexColumn">
    <h1 class="autoMargin">{{ contactInput.businessName }}{{contactInput.firstName}} {{contactInput.lastName}}</h1>
    <h3 class="autoMargin">{{ contactInput.title != null ? contactInput.title : "none" }}</h3>
  </div>
  <div class="main flexRow">
    <mat-card class="leftCard flexItem scrollOverflow">
      <mat-card-content class="fullHeight">
        <mat-tab-group class="fullHeight flexRow">
          <mat-tab label="Phone Numbers">
            <div class="hideOverflow flexColumn phoneNumberList">
              <div *ngIf="contactInput.contactInformation != null && contactInput.contactInformation.phoneNumbers != null" >
                <mat-list cdkDropList [cdkDropListData]="contactInput.contactInformation.phoneNumbers" (cdkDropListDropped)="numberDropped($event)">
                  <mat-list-item class="phoneNumberListItem flexItem" cdkDrag cdkDragLockAxis="y" *ngFor="let number of contactInput.contactInformation.phoneNumbers; index as i">
                    <div class="phoneNumberContainer">
                      <div class="phoneNumber flexItem">{{number.label}} : {{number | phoneNumberToString}}</div>
                      <div class="edit" (click)="openAddPhoneNumberModal(number)"><i class="fa-solid fa-pen fa-xl"></i></div>
                      <div class="delete" (click)="openDeletePhoneNumberModal(number)"><i class="fa-solid fa-xmark fa-2xl"></i></div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="flexItem flexColumn">
                <div class="flexItem autoMargin">
                  <button mat-raised-button color="warn" (click)="openAddPhoneNumberModal(undefined)">Add New Number</button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Addresses">
            <mat-tab-group>
              <mat-tab label="Mailing">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="mailingAddressInput"></app-address-form>
                  </div>
                  <div class="saveButton">
                    <button mat-raised-button color="accent">Save</button>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Billing">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="billingAddressInput"></app-address-form>
                  </div>
                  <div class="saveButton">
                    <button mat-raised-button color="accent">Save</button>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Shipping">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="shippingAddressInput"></app-address-form>
                  </div>
                  <div class="saveButton">
                    <button mat-raised-button color="accent">Save</button>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Email">
            <div class="flexRow flexItem">
                <div class="phoneNumberList flexItem" *ngIf="contactInput.contactInformation != null && contactInput.contactInformation.emailAddresses != null">
                <mat-list>
                  <mat-list-item
                    *ngFor="let email of contactInput.contactInformation.emailAddresses; index as i"
                    class="phoneNumber flexItem">
                    {{email.address}}
                    <button mat-raised-button>Edit</button>
                  </mat-list-item>
                  <mat-list-item cdkDrag cdkDragLockAxis="y"
                    class="phoneNumber flexItem">New Item</mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <mat-card class="rightCard flexItem hideOverflow">
      <mat-card-content>
        <div class="flexColumn"><img class="image" src="../../../../assets/No-Image-Placeholder.svg"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
