<div *ngIf="(this.contact != undefined)" class="page flexColumn h-100">
  <div class="main flexRow">
    <mat-card class="flexItem">
      <mat-card-content class="fullHeight">
        <div class="flexRow heading">
          <img class="image" src="../../../../assets/No-Image-Placeholder.svg">
          <div class="flexColumn flexItem">
            <div class="name">
              <h1>{{ this.contact | contactName}}</h1>
            </div>
            <div class="title">
              <h3>{{ this.contact.title != null ? this.contact.title : "none" }}</h3>
            </div>
          </div>
          <div class="">
            <img class="image headerPlaceHolder" src="../../../../assets/No-Image-Placeholder.svg">
          </div>
        </div>
        <mat-tab-group class="fullHeight flexRow">
          <mat-tab label="Phone Numbers">
            <div class="hideOverflow flexColumn phoneNumberList">
              <div *ngIf="this.contactInformation != null && this.contactInformation.phoneNumbers != null">
                <mat-list>
                  <mat-list-item class="phoneNumberListItem flexItem"
                    *ngFor="let number of this.contactInformation.phoneNumbers; index as i">
                    <div class="phoneNumberContainer">
                      <div class="phoneNumber flexItem">{{number.label}} : {{number | phoneNumberToString}}</div>
                      <div class="edit" (click)="openAddPhoneNumberModal(number)"><i class="fa-solid fa-pen fa-xl"></i>
                      </div>
                      <div class="delete" (click)="openDeletePhoneNumberModal(number)"><i
                          class="fa-solid fa-xmark fa-2xl"></i></div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="flexItem flexColumn">
                <div class="flexItem autoMargin">
                  <button mat-raised-button color="primary" (click)="openAddPhoneNumberModal()">
                    Add New Number
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Addresses">
            <mat-tab-group>
              <mat-tab label="Mailing">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="currentMailingAddress" (addressChange)="onAddressReceived($event)" (delete)="deletePhysicalAddress($event)"></app-address-form>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Billing">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="currentBillingAddress" (addressChange)="onAddressReceived($event)" (delete)="deletePhysicalAddress($event)"></app-address-form>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Shipping">
                <div class="addressContainer">
                  <div class="address">
                    <app-address-form [address]="currentShippingAddress" (addressChange)="onAddressReceived($event)" (delete)="deletePhysicalAddress($event)"></app-address-form>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="Email">
            <div class="hideOverflow flexColumn phoneNumberList">
              <div class="phoneNumberList flexItem"
                *ngIf="this.contactInformation != null && this.contactInformation.emailAddresses != null">
                <mat-list>
                  <mat-list-item class="phoneNumberListItem flexItem"
                    *ngFor="let email of this.contactInformation.emailAddresses; index as i">
                    <div class="phoneNumberContainer">
                      <div class="phoneNumber flexItem">{{email.address}}</div>
                      <div class="edit" (click)="openAddEmailAddressModal(email)"><i class="fa-solid fa-pen fa-xl"></i></div>
                      <div class="delete" (click)="openDeleteEmailAddressModal(email)"><i class="fa-solid fa-xmark fa-2xl"></i></div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="flexItem flexColumn">
                <div class="flexItem autoMargin">
                  <button mat-raised-button color="primary" (click)="openAddEmailAddressModal()">Add New Email Address</button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{contact.isBusiness ? 'Contacts' : 'Companies'}}">

            <div *ngIf="!contact.isBusiness">
              <app-customer-contacts *ngIf="contact.hasCustomerContacts" [contactId]="contact.id"></app-customer-contacts>
              <app-competitor-contacts *ngIf="contact.hasCompetitorContacts" [contactId]="contact.id"></app-competitor-contacts>
              <app-manufacturer-contacts *ngIf="contact.hasManufacturerContacts" [contactId]="contact.id"></app-manufacturer-contacts>
              <app-vendor-contacts *ngIf="contact.hasVendorContacts" [contactId]="contact.id"></app-vendor-contacts>
              <app-venue-contacts *ngIf="contact.hasVenueContacts" [contactId]="contact.id"></app-venue-contacts>
            </div>

            <div *ngIf="contact.isBusiness">
              <app-customer-contacts [customerId]="contact.customerId!"></app-customer-contacts>
              <app-competitor-contacts [competitorId]="contact.competitorId!"></app-competitor-contacts>
              <app-manufacturer-contacts [manufacturerId]="contact.manufacturerId!"></app-manufacturer-contacts>
              <app-vendor-contacts [vendorId]="contact.vendorId!"></app-vendor-contacts>
              <app-venue-contacts [venueId]="contact.venueId!"></app-venue-contacts>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
