<!-- <div id="container" class="{{ animation }}">
  <div id="toggleButton" (click)="toggleVisibility()" class="btn btn-primary">&lt;</div>
  <div id="rightSideBar" class="border border-2 border-dark border-end-0">
    <ng-container [ngTemplateOutlet]="sideBarTemplate"></ng-container>
</div> -->
<div id="sideBarContainer" class="row align-items-center {{ isActive ? 'active' : '' }}">
    <div class="col-1">
        <button (click)="toggleVisibility()" id="toggleButton" class="btn btn-dark rounded-circle">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
    </div>
    <div id="rightSideBar" class="col border border-2 border-dark overflow-y-scroll card">
        <div class="row card-body">
            <div class="col">
                <ng-container [ngTemplateOutlet]="sideBarTemplate"></ng-container>
            </div>
        </div>
    </div>
</div>
