// @keyframes show{
//   0%{
//     transform: translateX(90%);
//   }
//   100%{
//     transform: translateX(0);
//   }
// }

// @keyframes hide{
//   0%{
//     transform: translateX(0);
//   }
//   100%{
//     transform: translateX(90%);
//   }
// }

// .hidden{
//   animation: hide 0s ease-out 0s 1;
//   animation-fill-mode: forwards;
// }

// .hideContainer{
//   animation: hide .75s ease-out 0s 1;
//   animation-fill-mode: forwards;
// }

// .showContainer {
//   animation: show .75s ease-out 0s 1;
//     animation-fill-mode: forwards;
// }

#sideBarContainer {
    height: 100%;
    transform: translateX(262px);
    opacity: 1;
    transition: transform .5s, opacity .5s;
}

#sideBarContainer.active {
    transform: translateX(-10px);
    opacity: 1;
}

#rightSideBar {
    height: 90%;
    border-radius: 5px;
}

#toggleButton {
    cursor: pointer;
    margin: -10px;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
}
