@use '/src/appTheme.scss' as *;

.flexContainer{
  padding: 1%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

mat-card{
  margin: .5%;
  padding: .5%;
}

.category{
  flex: 1 0 0;
  overflow-y: scroll;
  font-size: larger;
}

.type{
  flex: 1 0 0;
  overflow-y: scroll;
  font-size: larger;
}

.subtype{
  flex: 1 0 0;
  overflow-y: scroll;
  font-size: larger;
}

button{
  font-size: small;
}
.item{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.item:hover{
  cursor: pointer;
  background-color: $accent;
}

mat-divider{
  margin-left: 2%;
  margin-right: 2%;
}


.flexCardContainer{
  display: flex;
  flex-direction: column;
  flex:1;
  overflow-y: hidden;
}

.list{
  flex: 12 0 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.button{
  flex:1 0 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
}

.selectionMessage{
  flex: 1;
  margin: auto;
  font-size: larger;
  display: flex;
}

.selectionMessage > p {
  margin: auto;
}

.active{
  cursor: pointer;
  border-style: solid;
  border-color: $accent;
  border-radius: 10px;
}
