<div class="card h-100">
  <div class="card-body">
    <form [formGroup]="alertMessageFormData" (ngSubmit)="sendAlert()" class="d-flex flex-column h-100">
      <div>
        <div>
          <select formControlName="type" class="form-select" id="alertType">
            @for (t of values; track t) {
              <option [value]="t">{{ keys[t] }}</option>
            }
          </select>
          <div class="form-text">Type</div>
        </div>
        <div>
          <input formControlName="text" type="text" class="form-control" id="alertText"/>
          <div class="form-text">Message to display</div>
        </div>
        <div class="row mt-1">
          <div class="col">
            <div class="form-check form-switch">
              <input formControlName="dismiss" type="checkbox" class="form-check-input" id="alertDismiss"/>
              <div class="form-text">Auto-dismiss</div>
            </div>
          </div>
          <div class="col">
            <input formControlName="duration" type="number" class="form-control" id="alertDisplay"/>
            <div class="form-text">Display Time</div>
          </div>
        </div>
      </div>
      <div class="row mt-auto">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary">Open Alert</button>
        </div>
      </div>
    </form>
  </div>
</div>
