<div id="envBorder" [ngClass]="getEnvironmentBorderName()">
  <div *ngIf="(envName !== 'production')" class="text-center borderText ">{{envName}}  </div>
</div>
<div id="mainContainer" class="vh-100">
  <div id="headerContainer" class="">
    <app-header></app-header>
  </div>
    <div id="alertsContainer" class="bg-danger">
      <app-alert-manager></app-alert-manager>
    </div>
  <div id="notificationsContainer">
      <app-notification-manager></app-notification-manager>
  </div>
  <div id="centerContainer" class="">
    <div id="leftContainer" class="">
      <app-left-side-bar></app-left-side-bar>
    </div>
    <div id="bodyContainer" class="">
        <router-outlet></router-outlet>
    </div>
    <div id="rightContainer" class="">
      <app-right-side-bar></app-right-side-bar>
    </div>
</div>
  <div id="footerContainer" class="">
    <app-footer></app-footer>
  </div>
</div>
