// .flex{
//   display: flex;
// }
// .center{
//   align-items: center;
//   justify-content: center;
// }

// .dialog{
//   overflow: hidden;
// }
.spin {
    width: 10rem;
    height: 10rem;
    font-size: x-large;
}
