<div class="border border-2 border-black ms-2 me-2 mt-4 card">
    <div class="h1 text-center">Component Demo</div>
    <div class="card-body row">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <form class="h-100 d-flex flex-column">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" id="spinnerText"/>
                  <div class="form-text">Message to display</div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col">
                  <input type="number" class="form-control" id="displayTime"/>
                  <div class="form-text">Display Time</div>
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="countDownTime"/>
                    <div class="form-text">Countdown Time</div>
                </div>
              </div>
              <div class="row mt-auto">
                <div class="col text-center mt-2">
                  <button type="submit" class="btn btn-primary">Open Spinner</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <form class="h-100 d-flex flex-column">
              <div>
                <input type="text" class="form-control" id="confirmationTitle"/>
                <div class="form-text">Title</div>
              </div>
              <div>
                <input type="text" class="form-control" id="confirmationText"/>
                <div class="form-text">Text</div>
              </div>
              <div class="row mt-1">
                <div class="col">
                  <input type="text" class="form-control" id="okText"/>
                  <div class="form-text">Ok text</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="cancelText"/>
                    <div class="form-text">Cancel text</div>
                </div>
              </div>
              <div class="row mt-auto">
                <div class="col text-center mt-2">
                  <button type="submit" class="btn btn-primary">Open Confirmation</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <form class="d-flex flex-column h-100">
              <div>
                <select class="form-select" id="notificationType">
                  <option *ngFor="let t of keys">{{ t }}</option>
                </select>
                <div class="form-text">Type</div>
              </div>
              <div>
                <input type="text" class="form-control" id="spinnerText"/>
                <div class="form-text">Text</div>
              </div>
              <div class="row mt-1">
                <div class="col">
                  <input type="text" class="form-control" id="spinnerText"/>
                  <div class="form-text">Ok text</div>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="spinnerText"/>
                  <div class="form-text">Cancel text</div>
                </div>
              </div>
              <div class="row mt-auto">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary">Open Alert</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <form class="d-flex flex-column h-100">
              <div>
                <div>
                  <select class="form-select" id="alertType">
                    <option *ngFor="let t of keys">{{ t }}</option>
                  </select>
                  <div class="form-text">Type</div>
                </div>
                <div>
                  <input type="text" class="form-control" id="alertText"/>
                  <div class="form-text">Message to display</div>
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <div class="form-check form-switch">
                      <input type="checkbox" class="form-check-input" id="alertDismiss"/>
                      <div class="form-text">Auto-dismiss</div>
                    </div>
                  </div>
                  <div class="col">
                      <input type="number" class="form-control" id="alertDisplay"/>
                      <div class="form-text">Display Time</div>
                  </div>
                </div>
              </div>
              <div class="row mt-auto">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary">Open Notification</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<hr />
<div class="card border border-2 border-black me-2 ms-2">
  <div class="card-body">
    <div class="h1 mb-2 text-center">Palette</div>
    <div class="row ms-0 mt-2">
      <div class="col">
        <app-swach [Name]="'Dark'" [BackgroundClass]="'dark'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Light'"[BackgroundClass]="'light'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Primary'" [BackgroundClass]="'primary'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Secondary'" [BackgroundClass]="'secondary'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Accent1'" [BackgroundClass]="'accent1'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Accent2'" [BackgroundClass]="'accent2'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Success'" [BackgroundClass]="'success'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Warning'" [BackgroundClass]="'warning'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Danger'" [BackgroundClass]="'danger'"></app-swach>
      </div>
      <div class="col">
        <app-swach [Name]="'Info'" [BackgroundClass]="'info'"></app-swach>
      </div>
    </div>
  </div>
</div>
