<div id="container">
  <table mat-table [dataSource]="filteredInventory" class="mat-elevation-z8">

    <ng-container matColumnDef="assetId">
      <th mat-header-cell *matHeaderCellDef>Asset Id</th>
      <td mat-cell *matCellDef="let element"> {{ element.assetId }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <tr class="headerRow" mat-header-row *matHeaderRowDef="columns"></tr>

    <tr mat-row *matRowDef="let row; columns: columns;" (click)='view(row)' class="pointer"></tr>
  </table>
</div>
