<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App Title</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (group of links.links.itemGroups; track group) {
          <div>
            @if (group.items.length === 1) {
              <li class="nav-item">
                <a class="nav-link active" href="{{ group.items[0].href }}">{{ group.title }}</a>
              </li>
            } @else {
              <li class="nav-item dropdown">
                <div class="dropdown show">
                  <a class="nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ group }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @for (link of group.items; track link) {
                      <a class="dropdown-item text-dark" href="">{{ link.text }}</a>
                    }
                  </div>
                </div>
              </li>
            }
          </div>
        }
      </ul>
    </div>
  </div>
</nav>
