@use '/src/styles/appTheme.scss' as *;

a{
  color: $white;
}
 .linkText{
  font-size: x-large;
  font-weight: bold;
}
 #logo{
  padding-left: .5%;
  padding-right: 2%;
  text-decoration: none;
  font-size: larger;
 }
