<div class="flexContainer">
  <div class="flexItem category">
    <app-category-tree (selection)="selectItems($event)"></app-category-tree>
  </div>

  <div class="flexItem main">
    <div class="itemViewContainer" cdkDropListGroup>
      <div class="itemView">
        <app-view-sales-item (itemList)="salesItem.inventoryItems" [item]="salesItem" cdkDropList [cdkDropListData]="salesItem.inventoryItems"></app-view-sales-item>
      </div>
      <div class="listView" cdkDropList >
        <app-group-items [category]="selectedCategory" [type]="selectedType" [subType]="selectedSubType" [dragDisabled]="false"></app-group-items>
      </div>
    </div>
  </div>
</div>
