<div class="fullHeight flexRow">
  <div class="contacts flexColumn">
    <form [formGroup]="searchFormGroup">
      <div class="flexRow searchInputs">
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">First Name</mat-label>
          <input matInput id="line1" type="text" name="firstName" formControlName="firstName" (keyup)="searchContacts()">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="label">Last Name</mat-label>
          <input matInput id="line1" type="text" name="lastName" formControlName="lastName" (keyup)="searchContacts()">
        </mat-form-field>
      </div>
    </form>
    <div class="buttons">
      <button mat-raised-button [matMenuTriggerFor]="filterMenu" color="primary">Filter</button>
      <mat-menu #filterMenu="matMenu">
        <form [formGroup]="filterOptions">
          <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
            <mat-checkbox formControlName="employees" [value]="filterOptions.value.employees"></mat-checkbox>
            <div mat-menu-item><span class="badge bg-primary" >Employee</span></div>
          </div>
          <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
            <mat-checkbox formControlName="freelancers" [value]="filterOptions.value.freelancers"></mat-checkbox>
            <div mat-menu-item><span class="badge bg-warning">Freelancer</span></div>
          </div>
          <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
            <mat-checkbox formControlName="customers" [value]="filterOptions.value.customers"></mat-checkbox>
            <div mat-menu-item><span class="badge bg-success">Customer</span></div>
          </div>
          <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
            <mat-checkbox formControlName="users" [value]="filterOptions.value.users"></mat-checkbox>
            <div mat-menu-item><span class="badge bg-danger">User</span></div>
          </div>
        </form>
      </mat-menu>
      <button mat-raised-button [matMenuTriggerFor]="sortMenu" color="primary">Sort</button>
      <mat-menu #sortMenu="matMenu">
        <mat-radio-group [(ngModel)]="sortOptions" (change)="sortContacts()">
          <div class="flexRow selection" >
            <mat-radio-button [value]="'firstName'"></mat-radio-button>
            <div mat-menu-item><span class="badge bg-danger">First Name</span></div>
          </div>
          <div class="flexRow selection">
            <mat-radio-button [value]="'lastName'"></mat-radio-button>
            <div mat-menu-item><span class="badge bg-danger">Last Name</span></div>
          </div>
          <div class="flexRow selection">
            <mat-radio-button [value]="'businessName'"></mat-radio-button>
            <div mat-menu-item><span class="badge bg-danger">Business Name</span></div>
          </div>
        </mat-radio-group>
      </mat-menu>
      <button mat-raised-button color="primary" (click)="openAddContactDialog()">Add New</button>
    </div>
    <div class="list">
      <div *ngFor="let contact of filteredList" class="pointer listItem flexRow" (click)="contactClicked(contact)" cdkDragList cdkDrag [cdkDragData]="contact">
        <div class="flexColumn flexItem">
          <span class="flexItem">
            {{ contact | contactName }}
          </span>
          <div class="badges flexItem">
            <span class="badge user" *ngIf="contact.userId">User</span>
            <span class="badge employee" *ngIf="contact.employeeId">Employee</span>
            <span class="badge freelancer" *ngIf="contact.freelancerId">Freelancer</span>
            <span class="badge customer" *ngIf="contact.customerId">Customer</span>
            <span class="badge competitor" *ngIf="contact.competitorId">Competitor</span>
            <span class="badge manufacturer" *ngIf="contact.manufacturerId">Manufacturer</span>
            <span class="badge venue" *ngIf="contact.venueId">Venue</span>
            <span class="badge vendor" *ngIf="contact.vendorId">Vendor</span>
            <span class="badge customer" *ngIf="contact.hasCustomerContacts && !contact.customerId">CustomerContact</span>
            <span class="badge competitor" *ngIf="contact.hasCompetitorContacts && !contact.competitorId">CompetitorContact</span>
            <span class="badge manufacturer" *ngIf="contact.hasManufacturerContacts && !contact.manufacturerId">ManufacturerContact</span>
            <span class="badge venue" *ngIf="contact.hasVenueContacts && !contact.venueId">VenueContact</span>
            <span class="badge vendor" *ngIf="contact.hasVendorContacts && !contact.vendorId">VendorContact</span>
          </div>
        </div>
        <div class="contactButtons flexRow" (click)="$event.stopPropagation()">
          <span class="up" (click)="openAddContactAsDialog(contact)"><i class="fa-solid fa-arrow-up fa-xl"></i></span>
          <span class="edit" (click)="openEditContactDialog(contact)"><i class="fa-solid fa-pen fa-xl"></i></span>
          <span class="delete" (click)="openDeleteContactDialog(contact)"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

