@use '/src/appTheme.scss' as *;
@use '/src/color-palette.scss' as colors;
@use "sass:map";

.contacts{
  flex:1 0 30%;
  border-style: solid;
}

.info{
  flex:1 0 70%;
}

.list{
  overflow: scroll;
  margin:1%;
  margin-top: 2%
}

.listItem{
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 2%;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  border-width: 5px;
  border-color: $accent !important;
}

.searchInputs{
  margin-top: 1%;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.contactButtons{
  margin: auto;
  justify-content: flex-end;
}

.input{
  flex: 1;
  margin-right: 1%;
}

.edit{
  color: $warn;
  margin-right: 5%;
  cursor: pointer;
  align-self: center;
}

.delete{
  font-size: larger;
  color: $warn;
  cursor: pointer;
}

.up{
  margin-right: 5%;
  color: $warn;
  cursor: pointer;
  align-self: center;
  font-size: large;
}

.badge{
  margin-right: 2%;
}
