<div class="fullHeight flexRow">
  <div class="contacts flexRow">
    <div class="list flexItem">
      <form [formGroup]="searchFormGroup">
        <div class="flexRow searchInputs">
          <mat-form-field class="input" appearance="outline">
            <mat-label class="label">First Name</mat-label>
            <input matInput id="line1" type="text" name="firstName" formControlName="firstName" (keyup)="searchContacts()">
          </mat-form-field>
          <mat-form-field class="input" appearance="outline">
            <mat-label class="label">Last Name</mat-label>
            <input matInput id="line1" type="text" name="lastName" formControlName="lastName" (keyup)="searchContacts()">
          </mat-form-field>
        </div>
     </form>
      <div class="buttons">
        <button mat-raised-button [matMenuTriggerFor]="filterMenu" color="primary">Filter</button>
        <mat-menu #filterMenu="matMenu">
          <form [formGroup]="filterOptions">
            <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
              <mat-checkbox formControlName="employees" [value]="filterOptions.value.employees"></mat-checkbox>
              <div mat-menu-item><span class="badge bg-primary" >Employee</span></div>
            </div>
            <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
              <mat-checkbox formControlName="freelancers" [value]="filterOptions.value.freelancers"></mat-checkbox>
              <div mat-menu-item><span class="badge bg-warning">Freelancer</span></div>
            </div>
            <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
              <mat-checkbox formControlName="customers" [value]="filterOptions.value.customers"></mat-checkbox>
              <div mat-menu-item><span class="badge bg-success">Customer</span></div>
            </div>
            <div class="flexRow selection" (click)="$event.stopPropagation();filterContacts()">
              <mat-checkbox formControlName="users" [value]="filterOptions.value.users"></mat-checkbox>
              <div mat-menu-item><span class="badge bg-danger">User</span></div>
            </div>
          </form>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="sortMenu" color="primary">Sort</button>
        <mat-menu #sortMenu="matMenu">
          <mat-radio-group [(ngModel)]="sortOptions" (change)="sortContacts()">
            <div class="flexRow selection" >
              <mat-radio-button [value]="'firstName'"></mat-radio-button>
              <div mat-menu-item><span class="badge bg-danger">First Name</span></div>
            </div>
            <div class="flexRow selection">
              <mat-radio-button [value]="'lastName'"></mat-radio-button>
              <div mat-menu-item><span class="badge bg-danger">Last Name</span></div>
            </div>
            <div class="flexRow selection">
              <mat-radio-button [value]="'businessName'"></mat-radio-button>
              <div mat-menu-item><span class="badge bg-danger">Business Name</span></div>
            </div>
          </mat-radio-group>
        </mat-menu>
        <button mat-raised-button color="primary" (click)="openModal()">Add New</button>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let contact of filteredList" class="pointer listItem" (click)="contactClicked(contact)" cdkDragList cdkDrag [cdkDragData]="contact" >
          {{contact.businessName}}{{contact.firstName}} {{contact.lastName}}
            <span class="badge bg-dark" *ngIf="contact.user">User</span>
            <span class="badge bg-primary" *ngIf="contact.employee">Employee</span>
            <span class="badge freelancer" *ngIf="contact.freelancer">Freelancer</span>
            <span class="badge bg-success" *ngIf="contact.customer">Customer</span>
            <span class="badge bg-secondary" *ngIf="contact.competitor">Competitor</span>
            <span class="badge bg-info" *ngIf="contact.manufacturer">Manufacturer</span>
            <span class="badge bg-warning" *ngIf="contact.venue">Venue</span>
            <span class="badge bg-danger" *ngIf="contact.vendor">Vendor</span>
            <span class="badge bg-success" *ngIf="contact.customerContacts!.length > 0">CustomerContact</span>
            <span class="badge bg-secondary" *ngIf="contact.competitorContacts!.length > 0">CompetitorContact</span>
            <span class="badge bg-info" *ngIf="contact.manufacturerContacts!.length > 0">ManufacturerContact</span>
            <span class="badge bg-warning" *ngIf="contact.venueContacts!.length > 0">VenueContact</span>
            <span class="badge bg-danger" *ngIf="contact.vendorContacts!.length > 0">VendorContact</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

