@use '/src/appTheme.scss' as *;
@use '/src/color-palette.scss' as colors;
@use "sass:map";

.listItem{
  flex:1;
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.listItemContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete{
  font-size: larger;
  color: $warn;
  cursor: pointer;
}

.menuItem{
  font-weight: bolder;
}

.dropText{
  font-weight: bolder;
}

.contactListTitle{
  font-weight: bolder;
}
