  <div class="me-2 row align-content-center text-center colorSwatch bg-{{ Name.toLowerCase() }}">
    <p class="text-light text-center fw-bolder {{ Name.toLowerCase() === 'light' ? 'text-dark' : 'text-light' }}">{{ Name.toLowerCase() }}</p>
    <p class="text-light text-center fw-bolder {{ Name.toLowerCase() === 'light' ? 'text-dark' : 'text-light' }}">{{ rgbString.replace(" ", "") }}</p>
    <p class="text-light text-center fw-bolder {{ Name.toLowerCase() === 'light' ? 'text-dark' : 'text-light' }}">{{ hexString }}</p>
  </div>
