@use '/src/styles/appTheme.scss' as *;
@use '/src/styles/color-palette.scss' as colors;
@use "sass:map";

.page{
  padding: 1%;
  height: 100%;
}

.info{
  flex:0 0 70%;
}

.details{
  flex:1 0 75%;
  border-left: none;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  overflow: hidden;
  max-width: 100%;
}

