<div class="flexContainer">
  <mat-card>
    <mat-card-content>
      @for (group of groupedInventory | keyvalue; track group) {
        <div>
          <ng-container
            [ngTemplateOutlet]="group.value[0].isAssetTracked ? assetTracked : nonAssetTracked"
            [ngTemplateOutletContext]="{group:group}">
          </ng-container>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>

<ng-template #assetTracked let-group="group">
  <mat-expansion-panel cdkDrag (cdkDragDropped)="dragEnded($event)" [cdkDragDisabled]="dragDisabled">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <input value="{{ group.value[0] | json }}" hidden/>
        multiple
      </mat-panel-title>
      <mat-panel-description>
        <span>{{ group.key }}</span>
        <span id="price">{{ group.value[0].dailyRentalRate | currencyFormatter }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>AssetId</td>
          <td>price</td>
        </tr>
      </thead>
      <tbody>
        @for (item of group.value; track item) {
          <tr>
            <td>{{ item.assetId }}</td>
            <td>{{ item.purchasePrice | currencyFormatter }}</td>
          </tr>
        }
      </tbody>
    </table>
  </mat-expansion-panel>
</ng-template>

<ng-template #nonAssetTracked let-group="group">
  <mat-expansion-panel hideToggle disabled cdkDrag (cdkDragDropped)="dragEnded($event)" [cdkDragDisabled]="dragDisabled">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <input value="{{ group.value[0] | json }}" hidden/>
        <span>{{ group.value[0].assetId }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span id="groupName">{{ group.key }}</span>
        <span id="price">{{ group.value[0].dailyRentalRate | currencyFormatter }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</ng-template>
