.flexContainer{
  display: flex;
}

mat-card{
  flex: 1;
}

mat-panel-title{
  color: black !important;
  font-size: large;
  flex:1;
}

mat-panel-description{
  color: black !important;
  font-size: large;
  flex:3;
  justify-content: space-between;
}

#groupName{
  flex:1;
}
