<div class="flexContainer">
  <div class="flexItem category">
    <app-view-categories (categoryOutput)="selectCategory($event)"
                         (typeOutput)="selectType($event)"
                         (subTypeOutput)="selectSubType($event)">
    </app-view-categories>
  </div>

  <div class="flexItem main">
    <div class="itemViewContainer">
      <div class="itemView">item</div>
      <div class="listView">
        <app-list-items [category]="selectedCategory" [type]="selectedType" [subType]="selectedSubType" ></app-list-items>
      </div>
    </div>
  </div>
</div>
