<div mat-dialog-title>{{title}}</div>
<form [formGroup]="contactFormGroup">
  <mat-checkbox formControlName="isBusiness">Is a Business</mat-checkbox>
  <mat-dialog-content>
    @if (contactFormGroup.value.isBusiness) {
      <div>
        <div class="flexColumn">
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Business Name</mat-label>
            <input matInput id="businessName" type="text" name="businessName" formControlName="businessName">
          </mat-form-field>
        </div>
      </div>
    }
    @if (!contactFormGroup.value.isBusiness) {
      <div>
        <div class="flexRow">
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Prefix</mat-label>
            <input matInput id="prefix" type="text" name="prefix" formControlName="prefix">
          </mat-form-field>
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">First Name</mat-label>
            <input matInput id="firstName" type="text" name="firstName" formControlName="firstName">
            @if (firstNameInput.errors?.['required']) {
              <mat-error>Required</mat-error>
            }
            @if (firstNameInput.errors?.['maxlength']) {
              <mat-error>Must be 50 characters or less.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Middle Name</mat-label>
            <input matInput id="middleName" type="text" name="middleName" formControlName="middleName">
          </mat-form-field>
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Last Name</mat-label>
            <input matInput id="lastName" type="text" name="lastName" formControlName="lastName">
            @if (lastNameInput.errors?.['required']) {
              <mat-error>Required</mat-error>
            }
            @if (lastNameInput.errors?.['maxlength']) {
              <mat-error>Must be 50 characters or less.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="flexItem" appearance="outline">
            <mat-label class="label">Suffix</mat-label>
            <input matInput id="suffix" type="text" name="suffix" formControlName="suffix">
          </mat-form-field>
        </div>
        <div class="flexRow">
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Title</mat-label>
            <input matInput id="title" type="text" name="title" formControlName="title">
          </mat-form-field>
          <mat-form-field class="padding flexItem" appearance="outline">
            <mat-label class="label">Preferrerd Name</mat-label>
            <input matInput id="preferredName" type="text" name="preferredName" formControlName="preferredName">
          </mat-form-field>
        </div>
      </div>
    }
    <div class="flexRow">
      <mat-form-field class="flexItem" appearance="outline">
        <mat-label>Add a comment</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="contactFormGroup.invalid">Ok</button>
  </div>
</form>
