<div mat-dialog-title>Add {{contact | contactName }} as</div>
<div mat-dialog-content>

  <ng-container [ngTemplateOutlet]="contact.isBusiness == true ? business : person">
  </ng-container>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="closeModal()">Cancel</button>
  <button mat-raised-button color="primary" (click)="ok()">Ok</button>
</div>

<ng-template #person>
  <mat-form-field class="padding flexItem" appearance="outline">
    <mat-label class="label">Add to</mat-label>
    <mat-select [(value)]="personTypeSelection">
      <mat-option [value]="personContactTypes.Customer" [disabled]="contact.customerId! > 0">Customer</mat-option>
      <mat-option [value]="personContactTypes.Employee" [disabled]="contact.employeeId! > 0">Employee</mat-option>
      <mat-option [value]="personContactTypes.Freelancer" [disabled]="contact.customerId! > 0">Freelancer</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #business>
  <mat-form-field class="padding flexItem" appearance="outline">
    <mat-label class="label">Business Type</mat-label>
    <mat-select [(value)]="businessTypeSelection">
      <mat-option [value]="businessContactTypes.Customer" [disabled]="contact.customerId! > 0">Customer</mat-option>
      <mat-option [value]="businessContactTypes.Competitor" [disabled]="contact.competitorId! > 0">Competitor</mat-option>
      <mat-option [value]="businessContactTypes.Manufacturer" [disabled]="contact.manufacturerId! > 0">Manufacturer</mat-option>
      <mat-option [value]="businessContactTypes.Vendor" [disabled]="contact.vendorId! > 0">Vendor</mat-option>
      <mat-option [value]="businessContactTypes.Venue" [disabled]="contact.venueId! > 0">Venue</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

