.flexItem{
  flex: 1;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.fullHeight{
  height:100%;
}

.autoMargin{
  margin: auto;
}

.hideOverflow{
  overflow: hidden;
}

.scrollOverflow{
  overflow: scroll;
}
