@use '@angular/material' as mat;
@use './color-palette.scss' as colors;
@use "sass:map";


$black: map.get(colors.$black, 500); //#353535;
$white: #FFFCFF;
$orange: map.get(colors.$orange, 500);//#F26430;
$yellow: map.get(colors.$yellow, 500);//#FFC107; //Bootstrap Wanring
$red: map.get(colors.$red, 500);//#F71735; // Bootstrap Danger
$lightBlue: map.get(colors.$lightblue, 500);//#3777FF;
$darkBlue: map.get(colors.$darkBlue, 500);//#1B3B6F;
$green: map.get(colors.$green, 500);//#0C8346;
$gray: map.get(colors.$gray, 500);//#424651;
$purple: map.get(colors.$purple, 500);//#5b1144;

$app-theme-primary: mat.define-palette(colors.$darkBlue, 500);
$app-theme-accent: mat.define-palette(colors.$orange, 500);
$app-theme-warn: mat.define-palette(mat.$red-palette, 500);
$app-theme: mat.define-light-theme((
  color:(
    primary: $app-theme-primary,
    accent: $app-theme-accent,
    warn: $app-theme-warn,
  )
));

$primary: $darkBlue;
$accent: $orange;
$warn: $red;

.primary{
  background-color: $primary;
}

.accent{
  background-color: $accent;
}

.warn{
  background-color: $warn;
}

.employee{
  background-color:  #1d4ed8;
}

.customer{
  background-color:  $green;
}

.competitor{
  background-color: #6c757d;
}

.freelancer{
  background-color: #5b21b6;
}

.manufacturer{
  background-color:  #0dcaf0;
}

.user{
  background-color:  $black;
}

.venue{
  background-color: $yellow;
}

.vendor{
  background-color: #dc3545;
}
