<div class="flexContainer">
  <mat-card class="category">
    <div class="flexCardContainer">
      <div class="list">
        @for (cat of categories; track cat) {
          <div (click)="selectCategory(cat)" [ngClass]="(selectedCategory === cat) ? 'active' : 'inactive'">
            <div class="item"><span>{{cat.name}}<!-- - {{cat.id}} --></span></div>
            <mat-divider></mat-divider>
          </div>
        }
      </div>
      <div class="button">
        <button mat-raised-button color="primary" (click)="openCategoryDialog()">Add Category</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="type">
    <div class="flexCardContainer">
      <div class="list">
        @if (selectedCategory === undefined) {
          <div class="selectionMessage" #empty><p>Select a category</p></div>
          @if (selectedType !== undefined) {
            <div  class="button">
              <button mat-raised-button color="primary">Add Type</button>
            </div>
          }
        } @else {
          @if (selectedCategory?.types?.length === 0) {
            <div class="selectionMessage" >
              <p>There are no types in {{ selectedCategory?.name }} </p>
            </div>
          }
          @for (type of types; track type) {
            <div (click)="selectType(type)" [ngClass]="(selectedType === type) ? 'active' : 'inactive'">
              <div class="item">
                <span>{{type.name}} <!--- {{type.id}} --></span>
              </div>
              <mat-divider></mat-divider>
            </div>
          }
        }
      </div>
      <div class="button">
        <button [disabled]="selectedCategory === undefined" (click)="openTypeDialog()" mat-raised-button color="primary">Add Type</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="subtype">
    <div class="flexCardContainer">
      <div class="list">
        @if (selectedType === undefined) {
          <div class="selectionMessage" #empty><p>Select a type</p></div>
          @if (selectedType !== undefined) {
            <div  class="button">
              <button mat-raised-button color="primary">Add Type</button>
            </div>
          }
        } @else {
          @if (selectedType?.subTypes?.length === 0) {
            <div class="selectionMessage" ><p>There are no sub types associated with  {{ selectedType?.name }}</p></div>
          }
          @for (subType of subTypes; track subType) {
            <div (click)="selectSubType(subType)" [ngClass]="(selectedSubType === subType) ? 'active' : 'inactive'">
              <div class="item">
                <span>{{ subType.name }} <!-- - {{subType.id}} --></span>
              </div>
              <mat-divider></mat-divider>
            </div>
          }
        }
      </div>
      <div class="button">
        <button [disabled]="selectedType === undefined" (click)="openSubTypeDialog()"  mat-raised-button color="primary">Add Sub Type</button>
      </div>
    </div>
  </mat-card>
</div>




