
#notification{
  box-shadow: 5px 10px 25px black;
}
#container{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 1%;
  margin-right: 2%;
  white-space: pre-line;
  // background-color: blueviolet;
}

.errorBorder {
  border-color: var(--bg-danger);
}

.successBorder {
  border-color: var(--bg-success);
}

.warningBorder {
  border-color: var(--bg-warning);
}
