<div class="flexRow page" cdkDropListGroup>
  <div class="categoryViewContainer">
    <app-category-tree  (selection)="selectItems($event)"></app-category-tree>
  </div>
  <div class="inventoryViewContainer" >
    <app-group-items cdkDropList [category]="selectedCategory" [type]="selectedType" [subType]="selectedSubType" [dragDisabled]="false"></app-group-items>
  </div>
  <div class="itemViewContainer">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Create New Sales Item</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content cdkDropList (cdkDropListDropped)="dropped($event)" (itemList)="inventoryItems">
        <form class="category flexRow" [formGroup]="salesItemInput">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select id="type" name="type" formControlName="category" >
              <mat-option *ngFor="let cat of categories" [value]="cat" (click)="setTypes(cat)">{{ cat.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select id="type" name="type" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type" (click)="setSubTypes(type)">{{ type.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>SubType</mat-label>
            <mat-select id="type" name="type" formControlName="subType">
              <mat-option *ngFor="let subType of subTypes" [value]="subType">{{ subType.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <form class="flexColumn" [formGroup]="salesItemInput">
          <mat-form-field appearance="outline">
            <mat-label class="label">Name</mat-label>
            <input matInput id="name" type="text" name="name" formControlName="name" required>
            <mat-error class="label">A name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="label">Description</mat-label>
            <input matInput id="desc" type="textarea" name="desc" formControlName="description">
            <mat-error class="label">Line 1 is required</mat-error>
          </mat-form-field>
        </form>
        <h4>Items</h4>
        <div *ngFor="let item of inventoryItems">
          <div class="flexRow">
            <input #quantity class="quantity" type="number" class="form-control" min="1" value="{{getQuantity(item.item)}}" (change)="setQuantity(item.item)" required/>
            <mat-expansion-panel hideToggle disabled class="itemRow" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span id="id">{{ item.item.assetId }}</span>
                </mat-panel-title>
                <mat-panel-description>
                  <span id="name">{{ item.item.name }}</span>
                  <span id="price">{{ item.item.dailyRentalRate * getQuantity(item.item) | currencyFormatter }}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-icon class="closeButton" fontIcon="close" color="warn" (click)="removeItem(item.item.id)"></mat-icon>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-raised-button color="warn" (click)="resetItem()">Reset</button> -->
        <button mat-raised-button color="primary" (click)="addOrUpdateItem()">Save</button>
      </mat-card-actions>
    </mat-card>
    <!-- <app-view-sales-item (cdkDropListDropped)="dropped($event)" class="item" (itemList)="salesItem.inventoryItems" [itemInput]="salesItem" cdkDropList></app-view-sales-item> -->
  </div>
</div>
