@use '/src/styles/appTheme.scss' as *;
.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.page{
  padding: 1%;
  height: 100%;
}

.categoryViewContainer{
  flex: 1 0 15%;
  overflow: scroll;
  border-style: solid;
}

.inventoryViewContainer{
  flex: 1 0 40%;
  overflow: scroll;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.itemViewContainer{
  flex: 1 0 45%;
  overflow: scroll;
  border-style: solid;
}

.closeButton{
  margin-left: 2%;
  flex:.4;
  transform: scale(2);
  align-self: center;
  justify-self: end;
  cursor: pointer;
}

mat-expansion-panel{
  flex:10;
}

input{
  flex:1
}

mat-panel-description{
  color: black !important;
  font-size: large;
  flex:3;
  justify-content: space-between;
}
mat-panel-title{
  color: black !important;
  font-size: large;
}

.category{
  justify-content: space-between;
}
