<div class="card h-100">
  <div class="card-body">
    <form [formGroup]="spinnerFormData" (ngSubmit)="startSpinner()" class="h-100 d-flex flex-column">
      <div class="row">
        <div class="col">
          <input name="spinnerText" formControlName="message" type="text" class="form-control" id=""/>
          <div class="form-text">Message to display</div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
          <div class="form-check form-switch">
            <input name="disableClose" formControlName="disableClose"  type="checkbox" class="form-check-input" id=""/>
            <div class="form-text">Disable Close</div>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <input name="displayTime" formControlName="displayTime" type="number" class="form-control" id=""/>
          <div class="form-text">Display Time</div>
        </div>
        <div class="col">
          <input name="countdownTime" formControlName="countdownTime" type="number" class="form-control" id=""/>
          <div class="form-text">Countdown Time</div>
        </div>
      </div>
      </div>
      <div class="row mt-auto">
        <div class="col text-center mt-2">
          <button class="btn btn-primary">Open Spinner</button>
        </div>
      </div>
    </form>
  </div>
</div>
